openapi: 3.0.3
info:
  contact:
    email: support@pidginhost.com
    name: PidginHost
    url: https://www.pidginhost.com
  description: |-
    The Pidgin Host API allows you to manage Services and resources within the Pidgin Host cloud in a simple, programmatic way using conventional HTTP requests.
    All of the functionality that you are familiar with in the Pidgin Host control panel is also available through the API, allowing you to script the complex actions that your situation requires.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: Pidgin Host API
  version: 1.0.0 (v1)
servers:
- description: PRODUCTION
  url: https://www.pidginhost.com/
paths:
  /api/account/api-tokens/:
    get:
      description: Manage your API tokens
      operationId: account_api_tokens_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedAPITokenListList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
    post:
      description: Manage your API tokens
      operationId: account_api_tokens_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/APITokenCreate"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/APITokenCreate"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
  /api/account/api-tokens/{id}/:
    delete:
      description: Manage your API tokens
      operationId: account_api_tokens_destroy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
  /api/account/companies/:
    get:
      description: Manage your companies
      operationId: account_companies_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedCompanyList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
    post:
      description: Manage your companies
      operationId: account_companies_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Company"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
  /api/account/companies/{id}/:
    delete:
      description: Manage your companies
      operationId: account_companies_destroy
      parameters:
      - description: A unique integer value identifying this company.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
    get:
      description: Manage your companies
      operationId: account_companies_retrieve
      parameters:
      - description: A unique integer value identifying this company.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
    patch:
      description: Manage your companies
      operationId: account_companies_partial_update
      parameters:
      - description: A unique integer value identifying this company.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedCompany"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
    put:
      description: Manage your companies
      operationId: account_companies_update
      parameters:
      - description: A unique integer value identifying this company.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Company"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
  /api/account/emails/:
    get:
      description: List email history for the authenticated user.
      operationId: account_emails_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedEmailHistoryList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
  /api/account/profile:
    get:
      description: Manage your profile data
      operationId: account_profile_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
    patch:
      description: Manage your profile data
      operationId: account_profile_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedProfile"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
    put:
      description: Manage your profile data
      operationId: account_profile_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Profile"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
  /api/account/ssh-keys/:
    get:
      description: |-
        Account context + IAM role enforcement for the account residue:
        billing identity (profile/companies/email history) is owner-only account
        state, SSH keys are account infra, tokens stay actor-owned.
      operationId: account_ssh_keys_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedSSHKeyList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
    post:
      description: |-
        Account context + IAM role enforcement for the account residue:
        billing identity (profile/companies/email history) is owner-only account
        state, SSH keys are account infra, tokens stay actor-owned.
      operationId: account_ssh_keys_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SSHKey"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSHKey"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
  /api/account/ssh-keys/{id}/:
    delete:
      description: |-
        Account context + IAM role enforcement for the account residue:
        billing identity (profile/companies/email history) is owner-only account
        state, SSH keys are account infra, tokens stay actor-owned.
      operationId: account_ssh_keys_destroy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
    get:
      description: |-
        Account context + IAM role enforcement for the account residue:
        billing identity (profile/companies/email history) is owner-only account
        state, SSH keys are account infra, tokens stay actor-owned.
      operationId: account_ssh_keys_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSHKey"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
    patch:
      description: |-
        Account context + IAM role enforcement for the account residue:
        billing identity (profile/companies/email history) is owner-only account
        state, SSH keys are account infra, tokens stay actor-owned.
      operationId: account_ssh_keys_partial_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedSSHKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSHKey"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
    put:
      description: |-
        Account context + IAM role enforcement for the account residue:
        billing identity (profile/companies/email history) is owner-only account
        state, SSH keys are account infra, tokens stay actor-owned.
      operationId: account_ssh_keys_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SSHKey"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SSHKey"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - account
  /api/auth/cli-session/:
    post:
      description: Create a CLI authentication session for browser-based approval
      operationId: auth_cli_session_create
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CLISessionCreateResponse"
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/auth/cli-session/{session_id}/:
    get:
      description: Poll a CLI authentication session. Returns token when approved.
      operationId: auth_cli_session_retrieve
      parameters:
      - explode: false
        in: path
        name: session_id
        required: true
        schema:
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CLISessionPollResponse"
          description: ""
      security:
      - {}
      tags:
      - auth
  /api/billing/deposits/:
    get:
      description: "List, create, and retrieve fund deposits."
      operationId: billing_deposits_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedDepositList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
    post:
      description: Create a new funds deposit.
      operationId: billing_deposits_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DepositCreate"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deposit"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/billing/deposits/{id}/:
    get:
      description: "List, create, and retrieve fund deposits."
      operationId: billing_deposits_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Deposit"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/billing/funds/:
    get:
      description: Get current funds balance and notification settings.
      operationId: billing_funds_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FundsBalanceResponse"
                type: array
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/billing/funds-log/:
    get:
      description: List funds log entries for the selected account.
      operationId: billing_funds_log_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedFundsLogList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/billing/funds/notification-settings/:
    post:
      description: Update low-balance notification settings.
      operationId: billing_funds_notification_settings_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LowBalanceSettings"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationSettingsResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/billing/invoices/:
    get:
      description: List and retrieve invoices. Pay with funds or download PDF.
      operationId: billing_invoices_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedInvoiceListList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/billing/invoices/{id}/:
    get:
      description: List and retrieve invoices. Pay with funds or download PDF.
      operationId: billing_invoices_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvoiceDetail"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/billing/invoices/{id}/pay-with-funds/:
    post:
      description: Pay an unpaid/overdue invoice using account funds.
      operationId: billing_invoices_pay_with_funds_create
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayWithFundsResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/billing/invoices/{id}/pdf/:
    get:
      description: Download invoice PDF. Use ?type=proforma or ?type=fiscal.
      operationId: billing_invoices_pdf_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                format: binary
                type: string
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/billing/services/:
    get:
      description: List and manage billing services.
      operationId: billing_services_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedServiceListList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/billing/services/{id}/:
    get:
      description: List and manage billing services.
      operationId: billing_services_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServiceList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/billing/services/{id}/cancel/:
    post:
      description: Cancel a service. Pending services are cancelled immediately; active
        services are terminated.
      operationId: billing_services_cancel_create
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelServiceResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/billing/services/{id}/change-billing-cycle/:
    post:
      description: Change the billing cycle of a service.
      operationId: billing_services_change_billing_cycle_create
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeBillingCycle"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeBillingCycleResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/billing/services/{id}/change-company/:
    post:
      description: Change the company associated with a service.
      operationId: billing_services_change_company_create
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangeCompany"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangeCompanyResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/billing/services/{id}/toggle-auto-payment/:
    post:
      description: Toggle automatic payment for a service.
      operationId: billing_services_toggle_auto_payment_create
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ToggleAutoPaymentResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/billing/subscriptions/:
    get:
      description: List and retrieve subscriptions.
      operationId: billing_subscriptions_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedSubscriptionList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/billing/subscriptions/{id}/:
    get:
      description: List and retrieve subscriptions.
      operationId: billing_subscriptions_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Subscription"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - billing
  /api/cloud/buckets/:
    get:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_buckets_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Bucket"
                type: array
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    post:
      description: Create a bucket
      operationId: cloud_buckets_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BucketCreate"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bucket"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/buckets/{id}/:
    delete:
      description: Cancel a bucket
      operationId: cloud_buckets_destroy
      parameters:
      - description: A unique integer value identifying this S3 bucket.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BucketCancelResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    get:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_buckets_retrieve
      parameters:
      - description: A unique integer value identifying this S3 bucket.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bucket"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/buckets/{id}/credentials/reveal/:
    post:
      description: Reveal bucket credentials
      operationId: cloud_buckets_credentials_reveal_create
      parameters:
      - description: A unique integer value identifying this S3 bucket.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BucketCredentials"
          description: ""
          headers:
            Cache-Control:
              description: Prevents clients and intermediaries from caching credentials.
              explode: false
              required: true
              schema:
                enum:
                - "no-store, no-cache, must-revalidate, private"
                type: string
              style: simple
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/buckets/{id}/credentials/rotate/:
    post:
      description: Rotate bucket credentials
      operationId: cloud_buckets_credentials_rotate_create
      parameters:
      - description: A unique integer value identifying this S3 bucket.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BucketCredentials"
          description: ""
          headers:
            Cache-Control:
              description: Prevents clients and intermediaries from caching credentials.
              explode: false
              required: true
              schema:
                enum:
                - "no-store, no-cache, must-revalidate, private"
                type: string
              style: simple
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/buckets/{id}/resize/:
    post:
      description: Resize a bucket
      operationId: cloud_buckets_resize_create
      parameters:
      - description: A unique integer value identifying this S3 bucket.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BucketResize"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bucket"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/buckets/{id}/visibility/:
    post:
      description: Set bucket visibility
      operationId: cloud_buckets_visibility_create
      parameters:
      - description: A unique integer value identifying this S3 bucket.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BucketVisibility"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Bucket"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/firewall-rules-set/:
    get:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_firewall_rules_set_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FirewallRulesSet"
                type: array
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    post:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_firewall_rules_set_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FirewallRulesSet"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FirewallRulesSet"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/firewall-rules-set/{id}/:
    delete:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_firewall_rules_set_destroy
      parameters:
      - description: A unique integer value identifying this firewall rules set.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    get:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_firewall_rules_set_retrieve
      parameters:
      - description: A unique integer value identifying this firewall rules set.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FirewallRulesSet"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    patch:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_firewall_rules_set_partial_update
      parameters:
      - description: A unique integer value identifying this firewall rules set.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedFirewallRulesSet"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FirewallRulesSet"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    put:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_firewall_rules_set_update
      parameters:
      - description: A unique integer value identifying this firewall rules set.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FirewallRulesSet"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FirewallRulesSet"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/firewall-rules-set/{rules_set_id}/rules/:
    get:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_firewall_rules_set_rules_list
      parameters:
      - explode: false
        in: path
        name: rules_set_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/FirewallRule"
                type: array
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    post:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_firewall_rules_set_rules_create
      parameters:
      - explode: false
        in: path
        name: rules_set_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FirewallRule"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FirewallRule"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/firewall-rules-set/{rules_set_id}/rules/{rule_id}/:
    delete:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_firewall_rules_set_rules_destroy
      parameters:
      - explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rules_set_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    get:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_firewall_rules_set_rules_retrieve
      parameters:
      - explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rules_set_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FirewallRule"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    patch:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_firewall_rules_set_rules_partial_update
      parameters:
      - explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rules_set_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedFirewallRule"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FirewallRule"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    put:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_firewall_rules_set_rules_update
      parameters:
      - explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rules_set_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FirewallRule"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FirewallRule"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/floating-ipv4/:
    get:
      description: |-
        Manage floating IPv4 addresses. A floating IP can be authorized on multiple
        VMs simultaneously; the customer asserts ownership inside the guest via
        keepalived/VRRP.
      operationId: cloud_floating_ipv4_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedFloatingIPv4List"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    post:
      description: |-
        Manage floating IPv4 addresses. A floating IP can be authorized on multiple
        VMs simultaneously; the customer asserts ownership inside the guest via
        keepalived/VRRP.
      operationId: cloud_floating_ipv4_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FloatingIPv4Create"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPv4"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/floating-ipv4/{id}/:
    delete:
      description: |-
        Manage floating IPv4 addresses. A floating IP can be authorized on multiple
        VMs simultaneously; the customer asserts ownership inside the guest via
        keepalived/VRRP.
      operationId: cloud_floating_ipv4_destroy
      parameters:
      - description: A unique integer value identifying this floating IPv4.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    get:
      description: |-
        Manage floating IPv4 addresses. A floating IP can be authorized on multiple
        VMs simultaneously; the customer asserts ownership inside the guest via
        keepalived/VRRP.
      operationId: cloud_floating_ipv4_retrieve
      parameters:
      - description: A unique integer value identifying this floating IPv4.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPv4"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/floating-ipv4/{id}/authorizations/:
    get:
      description: |-
        Manage floating IPv4 addresses. A floating IP can be authorized on multiple
        VMs simultaneously; the customer asserts ownership inside the guest via
        keepalived/VRRP.
      operationId: cloud_floating_ipv4_authorizations_list
      parameters:
      - description: A unique integer value identifying this floating IPv4.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedFloatingIPAuthorizationList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/floating-ipv4/{id}/authorize/:
    post:
      description: |-
        Manage floating IPv4 addresses. A floating IP can be authorized on multiple
        VMs simultaneously; the customer asserts ownership inside the guest via
        keepalived/VRRP.
      operationId: cloud_floating_ipv4_authorize_create
      parameters:
      - description: A unique integer value identifying this floating IPv4.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FloatingIPAuthorizeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPv4AuthorizeResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/floating-ipv4/{id}/rdns/:
    get:
      description: Get or update reverse DNS (PTR) for the IPv4 address wrapped by
        this floating IP.
      operationId: cloud_floating_ipv4_rdns_retrieve
      parameters:
      - description: A unique integer value identifying this floating IPv4.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReverseDNS"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    post:
      description: Get or update reverse DNS (PTR) for the IPv4 address wrapped by
        this floating IP.
      operationId: cloud_floating_ipv4_rdns_create
      parameters:
      - description: A unique integer value identifying this floating IPv4.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReverseDNS"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReverseDNS"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/floating-ipv4/{id}/unauthorize/:
    post:
      description: |-
        Manage floating IPv4 addresses. A floating IP can be authorized on multiple
        VMs simultaneously; the customer asserts ownership inside the guest via
        keepalived/VRRP.
      operationId: cloud_floating_ipv4_unauthorize_create
      parameters:
      - description: A unique integer value identifying this floating IPv4.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FloatingIPAuthorizeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPv4UnauthorizeResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/floating-ipv6/:
    get:
      description: Manage floating IPv6 addresses.
      operationId: cloud_floating_ipv6_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedFloatingIPv6List"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    post:
      description: Manage floating IPv6 addresses.
      operationId: cloud_floating_ipv6_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FloatingIPv6Create"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPv6"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/floating-ipv6/{id}/:
    delete:
      description: Manage floating IPv6 addresses.
      operationId: cloud_floating_ipv6_destroy
      parameters:
      - description: A unique integer value identifying this floating IPv6.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    get:
      description: Manage floating IPv6 addresses.
      operationId: cloud_floating_ipv6_retrieve
      parameters:
      - description: A unique integer value identifying this floating IPv6.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPv6"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/floating-ipv6/{id}/authorizations/:
    get:
      description: Manage floating IPv6 addresses.
      operationId: cloud_floating_ipv6_authorizations_list
      parameters:
      - description: A unique integer value identifying this floating IPv6.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedFloatingIPAuthorizationList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/floating-ipv6/{id}/authorize/:
    post:
      description: Manage floating IPv6 addresses.
      operationId: cloud_floating_ipv6_authorize_create
      parameters:
      - description: A unique integer value identifying this floating IPv6.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FloatingIPAuthorizeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPv6AuthorizeResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/floating-ipv6/{id}/rdns/:
    get:
      description: Get or update reverse DNS (PTR) for the IPv6 address wrapped by
        this floating IP.
      operationId: cloud_floating_ipv6_rdns_retrieve
      parameters:
      - description: A unique integer value identifying this floating IPv6.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReverseDNS"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    post:
      description: Get or update reverse DNS (PTR) for the IPv6 address wrapped by
        this floating IP.
      operationId: cloud_floating_ipv6_rdns_create
      parameters:
      - description: A unique integer value identifying this floating IPv6.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReverseDNS"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReverseDNS"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/floating-ipv6/{id}/unauthorize/:
    post:
      description: Manage floating IPv6 addresses.
      operationId: cloud_floating_ipv6_unauthorize_create
      parameters:
      - description: A unique integer value identifying this floating IPv6.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FloatingIPAuthorizeRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FloatingIPv6UnauthorizeResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/generations/:
    get:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_generations_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/HardwareGeneration"
                type: array
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      summary: List hardware generations
      tags:
      - cloud
  /api/cloud/generations/{slug}/:
    get:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_generations_retrieve
      parameters:
      - explode: false
        in: path
        name: slug
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HardwareGeneration"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/images/:
    get:
      description: List of available OS images
      operationId: cloud_images_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedOSImageList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/images/{id}/:
    get:
      description: List of available OS images
      operationId: cloud_images_retrieve
      parameters:
      - description: A unique integer value identifying this operating system.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OSImage"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/ipv4/:
    get:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_ipv4_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPublicIPv4List"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    post:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_ipv4_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicIPv4"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicIPv4"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/ipv4/{id}/:
    delete:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_ipv4_destroy
      parameters:
      - description: A unique integer value identifying this Public IPv4.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    get:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_ipv4_retrieve
      parameters:
      - description: A unique integer value identifying this Public IPv4.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicIPv4"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/ipv4/{id}/detach/:
    post:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_ipv4_detach_create
      parameters:
      - description: A unique integer value identifying this Public IPv4.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicIPv4"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DetachIPv4Response"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/ipv4/{id}/rdns/:
    get:
      description: Get or update reverse DNS (PTR) for this IPv4 address.
      operationId: cloud_ipv4_rdns_retrieve
      parameters:
      - description: A unique integer value identifying this Public IPv4.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReverseDNS"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    post:
      description: Get or update reverse DNS (PTR) for this IPv4 address.
      operationId: cloud_ipv4_rdns_create
      parameters:
      - description: A unique integer value identifying this Public IPv4.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReverseDNS"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReverseDNS"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/ipv6/:
    get:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_ipv6_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPublicIPv6List"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    post:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_ipv6_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicIPv6"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicIPv6"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/ipv6/{id}/:
    delete:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_ipv6_destroy
      parameters:
      - description: A unique integer value identifying this Public IPv6.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    get:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_ipv6_retrieve
      parameters:
      - description: A unique integer value identifying this Public IPv6.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PublicIPv6"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/ipv6/{id}/detach/:
    post:
      description: |-
        Adds :class:`~account.iam_enforcement.IAMActionPermission` as an
        intersection with the route's existing permission classes (spec §6).

        Detail routes (``self.detail``) defer the role/scope check to
        ``has_object_permission`` so the account-scoped ``get_object`` answers 404
        for foreign IDs before any role denial; every other route enforces in
        ``has_permission``. A detail action that never calls ``get_object`` would
        skip enforcement — the route probes pin the denial for each route.
      operationId: cloud_ipv6_detach_create
      parameters:
      - description: A unique integer value identifying this Public IPv6.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PublicIPv6"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DetachIPv6Response"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/ipv6/{id}/rdns/:
    get:
      description: Get or update reverse DNS (PTR) for this IPv6 address.
      operationId: cloud_ipv6_rdns_retrieve
      parameters:
      - description: A unique integer value identifying this Public IPv6.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReverseDNS"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    post:
      description: Get or update reverse DNS (PTR) for this IPv6 address.
      operationId: cloud_ipv6_rdns_create
      parameters:
      - description: A unique integer value identifying this Public IPv6.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReverseDNS"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReverseDNS"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/private-networks/:
    get:
      description: Manage private networks
      operationId: cloud_private_networks_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedPrivateNetworkList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    post:
      description: Manage private networks
      operationId: cloud_private_networks_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateNetwork"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateNetwork"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/private-networks/{id}/:
    delete:
      description: Manage private networks
      operationId: cloud_private_networks_destroy
      parameters:
      - description: A unique integer value identifying this private network.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    get:
      description: Manage private networks
      operationId: cloud_private_networks_retrieve
      parameters:
      - description: A unique integer value identifying this private network.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateNetwork"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    patch:
      description: Manage private networks
      operationId: cloud_private_networks_partial_update
      parameters:
      - description: A unique integer value identifying this private network.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedPrivateNetwork"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateNetwork"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    put:
      description: Manage private networks
      operationId: cloud_private_networks_update
      parameters:
      - description: A unique integer value identifying this private network.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateNetwork"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PrivateNetwork"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/private-networks/{id}/add-server/:
    post:
      description: Manage private networks
      operationId: cloud_private_networks_add_server_create
      parameters:
      - description: A unique integer value identifying this private network.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateNetworkAddHost"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddServerResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/private-networks/{id}/remove-server/:
    post:
      description: Manage private networks
      operationId: cloud_private_networks_remove_server_create
      parameters:
      - description: A unique integer value identifying this private network.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PrivateNetworkRemoveHost"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RemoveServerResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/server-packages/:
    get:
      description: List of available server products
      operationId: cloud_server_packages_list
      parameters:
      - description: Filter packages available on the given hardware generation (slug).
          Excludes free-tier-only packages when the generation is not free-tier eligible.
        explode: true
        in: query
        name: generation
        required: false
        schema:
          type: string
        style: form
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedServerProductList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/server-packages/{id}/:
    get:
      description: List of available server products
      operationId: cloud_server_packages_retrieve
      parameters:
      - description: A unique integer value identifying this metered product.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerProduct"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/server-packages/by-generation/:
    get:
      description: List of available server products
      operationId: cloud_server_packages_by_generation_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerProduct"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/servers/:
    get:
      description: Cloud servers
      operationId: cloud_servers_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedServerList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    post:
      description: Create new server
      operationId: cloud_servers_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServerAdd"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerAddResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/:
    delete:
      description: Cloud servers
      operationId: cloud_servers_destroy
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    get:
      description: Cloud servers
      operationId: cloud_servers_retrieve
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerDetail"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    patch:
      description: Cloud servers
      operationId: cloud_servers_partial_update
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchedServerDetail"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerDetail"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    put:
      description: Cloud servers
      operationId: cloud_servers_update
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServerDetail"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerDetail"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/activity/:
    get:
      description: Get activity log for a server.
      operationId: cloud_servers_activity_retrieve
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivityLogResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/attach-ipv4/:
    post:
      description: "Attach IPv4 address to server. The first attach lands on the primary\
        \ NIC; subsequent attaches add a new secondary NIC carrying just that IPv4.\
        \ The address is written to the machine's network configuration, which the\
        \ guest OS only reads while booting: a running server answers `reboot_required:\
        \ true` and stays unreachable on that address until it is restarted. Send\
        \ `reboot: true` to have the restart issued here."
      operationId: cloud_servers_attach_ipv4_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachIPv4Request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachIPv4Response"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/attach-ipv6/:
    post:
      description: "Attach IPv6 address to server. Like IPv4, the address is written\
        \ to the machine's network configuration and the guest OS reads it while booting:\
        \ a running server answers `reboot_required: true` until it is restarted.\
        \ Send `reboot: true` to have the restart issued here."
      operationId: cloud_servers_attach_ipv6_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AttachIPv6Request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AttachIPv6Response"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/boot-isos/:
    get:
      description: List the ISO catalog entries visible to this user and their package
        compatibility.
      operationId: cloud_servers_boot_isos_list
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedBootISOList"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/console/:
    post:
      description: Get a VNC console token for browser-based access.
      operationId: cloud_servers_console_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConsoleToken"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/destroy-protection/:
    post:
      description: Enable or disable destroy protection.
      operationId: cloud_servers_destroy_protection_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DestroyProtection"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DestroyProtectionResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/detach-ipv4/:
    post:
      description: "Detach IPv4 from server. Without `ipv4`, the primary NIC's IPv4\
        \ is detached. Pass `ipv4=<id|slug>` to target a specific attached address\
        \ (required when the server has more than one IPv4)."
      operationId: cloud_servers_detach_ipv4_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: ID or slug of the IPv4 address to detach.
        explode: true
        in: query
        name: ipv4
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerDetachIPv4Response"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/detach-ipv6/:
    post:
      description: Detach IPv6 from server
      operationId: cloud_servers_detach_ipv6_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DetachIPv6"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/modify-package/:
    post:
      description: "Modify server package: downgrade available only for packages with\
        \ the same disk size."
      operationId: cloud_servers_modify_package_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ServerProductUpgrade"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerUpgradeResponse"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/power-management/:
    get:
      description: Server power management
      operationId: cloud_servers_power_management_retrieve
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerManagement"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
    post:
      description: Server power management
      operationId: cloud_servers_power_management_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PowerManagementRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PowerManagement"
          description: ""
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/public-interface/:
    delete:
      description: Public interface
      operationId: cloud_servers_public_interface_destroy
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - tokenAuth: []
      - cookieAuth: []
      tags:
      - cloud
[...]
