openapi: 3.0.3
info:
  contact:
    email: support@pidginhost.com
    name: PidginHost
    url: https://www.pidginhost.com
  description: |-
    The Pidgin Host API allows you to manage Services and resources within the Pidgin Host cloud in a simple, programmatic way using conventional HTTP requests.
    All of the functionality that you are familiar with in the Pidgin Host control panel is also available through the API, allowing you to script the complex actions that your situation requires.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  title: Pidgin Host API
  version: 1.0.0 (v1)
servers:
- description: PRODUCTION
  url: https://www.pidginhost.com/
paths:
  /api/account/companies/:
    get:
      description: Manage your companies
      operationId: account_companies_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCompanyList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - account
  /api/account/companies/{id}/:
    get:
      description: Manage your companies
      operationId: account_companies_retrieve
      parameters:
      - description: A unique integer value identifying this company.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - account
    patch:
      description: Manage your companies
      operationId: account_companies_partial_update
      parameters:
      - description: A unique integer value identifying this company.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedCompany'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - account
    put:
      description: Manage your companies
      operationId: account_companies_update
      parameters:
      - description: A unique integer value identifying this company.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Company'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Company'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - account
  /api/account/profile:
    get:
      description: Manage your profile data
      operationId: account_profile_retrieve
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - account
    patch:
      description: Manage your profile data
      operationId: account_profile_partial_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedProfile'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - account
    put:
      description: Manage your profile data
      operationId: account_profile_update
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Profile'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - account
  /api/account/ssh-keys/:
    get:
      operationId: account_ssh_keys_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSSHKeyList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - account
    post:
      operationId: account_ssh_keys_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSHKey'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKey'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - account
  /api/account/ssh-keys/{id}/:
    delete:
      operationId: account_ssh_keys_destroy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - account
    get:
      operationId: account_ssh_keys_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKey'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - account
    patch:
      operationId: account_ssh_keys_partial_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedSSHKey'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKey'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - account
    put:
      operationId: account_ssh_keys_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SSHKey'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SSHKey'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - account
  /api/cloud/firewall-rules-set/:
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_firewall_rules_set_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FirewallRulesSet'
                type: array
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    post:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_firewall_rules_set_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRulesSet'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRulesSet'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/firewall-rules-set/{id}/:
    delete:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_firewall_rules_set_destroy
      parameters:
      - description: A unique integer value identifying this firewall rules set.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_firewall_rules_set_retrieve
      parameters:
      - description: A unique integer value identifying this firewall rules set.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRulesSet'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    patch:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_firewall_rules_set_partial_update
      parameters:
      - description: A unique integer value identifying this firewall rules set.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedFirewallRulesSet'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRulesSet'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    put:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_firewall_rules_set_update
      parameters:
      - description: A unique integer value identifying this firewall rules set.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRulesSet'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRulesSet'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/firewall-rules-set/{rules_set_id}/rules/:
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_firewall_rules_set_rules_list
      parameters:
      - explode: false
        in: path
        name: rules_set_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/FirewallRule'
                type: array
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    post:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_firewall_rules_set_rules_create
      parameters:
      - explode: false
        in: path
        name: rules_set_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRule'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/firewall-rules-set/{rules_set_id}/rules/{rule_id}/:
    delete:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_firewall_rules_set_rules_destroy
      parameters:
      - explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rules_set_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_firewall_rules_set_rules_retrieve
      parameters:
      - explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rules_set_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    patch:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_firewall_rules_set_rules_partial_update
      parameters:
      - explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rules_set_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedFirewallRule'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    put:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_firewall_rules_set_rules_update
      parameters:
      - explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rules_set_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirewallRule'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FirewallRule'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/images/:
    get:
      description: List of available OS images
      operationId: cloud_images_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedOSImageList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/images/{id}/:
    get:
      description: List of available OS images
      operationId: cloud_images_retrieve
      parameters:
      - description: A unique integer value identifying this operating system.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OSImage'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/ipv4/:
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_ipv4_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPublicIPv4List'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    post:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_ipv4_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicIPv4'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIPv4'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/ipv4/{id}/:
    delete:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_ipv4_destroy
      parameters:
      - description: A unique integer value identifying this Public IPv4.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_ipv4_retrieve
      parameters:
      - description: A unique integer value identifying this Public IPv4.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIPv4'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/ipv4/{id}/detach/:
    post:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_ipv4_detach_create
      parameters:
      - description: A unique integer value identifying this Public IPv4.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicIPv4'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetachIPv4Response'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/ipv6/:
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_ipv6_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPublicIPv6List'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    post:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_ipv6_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicIPv6'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIPv6'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/ipv6/{id}/:
    delete:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_ipv6_destroy
      parameters:
      - description: A unique integer value identifying this Public IPv6.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_ipv6_retrieve
      parameters:
      - description: A unique integer value identifying this Public IPv6.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicIPv6'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/ipv6/{id}/detach/:
    post:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_ipv6_detach_create
      parameters:
      - description: A unique integer value identifying this Public IPv6.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicIPv6'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetachIPv6Response'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/private-networks/:
    get:
      description: Manage private networks
      operationId: cloud_private_networks_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPrivateNetworkList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    post:
      description: Manage private networks
      operationId: cloud_private_networks_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateNetwork'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateNetwork'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/private-networks/{id}/:
    delete:
      description: Manage private networks
      operationId: cloud_private_networks_destroy
      parameters:
      - description: A unique integer value identifying this private network.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    get:
      description: Manage private networks
      operationId: cloud_private_networks_retrieve
      parameters:
      - description: A unique integer value identifying this private network.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateNetwork'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    patch:
      description: Manage private networks
      operationId: cloud_private_networks_partial_update
      parameters:
      - description: A unique integer value identifying this private network.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedPrivateNetwork'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateNetwork'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    put:
      description: Manage private networks
      operationId: cloud_private_networks_update
      parameters:
      - description: A unique integer value identifying this private network.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateNetwork'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateNetwork'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/private-networks/{id}/add-server/:
    post:
      description: Manage private networks
      operationId: cloud_private_networks_add_server_create
      parameters:
      - description: A unique integer value identifying this private network.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateNetworkAddHost'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddServerResponse'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/private-networks/{id}/remove-server/:
    post:
      description: Manage private networks
      operationId: cloud_private_networks_remove_server_create
      parameters:
      - description: A unique integer value identifying this private network.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateNetworkRemoveHost'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveServerResponse'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/server-packages/:
    get:
      description: List of available server products
      operationId: cloud_server_packages_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedServerProductList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/server-packages/{id}/:
    get:
      description: List of available server products
      operationId: cloud_server_packages_retrieve
      parameters:
      - description: A unique integer value identifying this metered product.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerProduct'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/:
    get:
      description: Cloud servers
      operationId: cloud_servers_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedServerList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    post:
      description: Create new server
      operationId: cloud_servers_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerAdd'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerAddResponse'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/:
    delete:
      description: Cloud servers
      operationId: cloud_servers_destroy
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    get:
      description: Cloud servers
      operationId: cloud_servers_retrieve
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    patch:
      description: Cloud servers
      operationId: cloud_servers_partial_update
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    put:
      description: Cloud servers
      operationId: cloud_servers_update
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/attach-ipv4/:
    post:
      description: Attach IPv4 address to server.
      operationId: cloud_servers_attach_ipv4_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachIPv4'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachIPv4'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/attach-ipv6/:
    post:
      description: Attach IPv6 address to server.
      operationId: cloud_servers_attach_ipv6_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachIPv6'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachIPv6'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/console/:
    post:
      description: Get a VNC console token for browser-based access.
      operationId: cloud_servers_console_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Server'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsoleToken'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/destroy-protection/:
    post:
      description: Enable or disable destroy protection.
      operationId: cloud_servers_destroy_protection_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DestroyProtection'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DestroyProtection'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/detach-ipv4/:
    post:
      description: Detach IPv4 from server
      operationId: cloud_servers_detach_ipv4_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Server'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetachIPv4'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/detach-ipv6/:
    post:
      description: Detach IPv6 from server
      operationId: cloud_servers_detach_ipv6_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Server'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetachIPv6'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/modify-package/:
    post:
      description: "Modify server package: downgrade available only for packages with\
        \ the same disk size."
      operationId: cloud_servers_modify_package_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServerProductUpgrade'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerUpgradeResponse'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/power-management/:
    get:
      description: Server power management
      operationId: cloud_servers_power_management_retrieve
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PowerManagement'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    post:
      description: Server power management
      operationId: cloud_servers_power_management_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PowerManagementRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PowerManagement'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/public-interface/:
    delete:
      description: Public interface
      operationId: cloud_servers_public_interface_destroy
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    get:
      description: Public interface
      operationId: cloud_servers_public_interface_retrieve
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicInterface'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    post:
      description: Public interface
      operationId: cloud_servers_public_interface_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicInterface'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicInterface'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/retry-provision/:
    post:
      description: Retry provision in case of a failed server
      operationId: cloud_servers_retry_provision_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Server'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetryProvision'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/snapshots/:
    get:
      description: List snapshots for this server or queue a new snapshot.
      operationId: cloud_servers_snapshots_list
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSnapshotList'
          description: ""
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotCreateQueued'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    post:
      description: List snapshots for this server or queue a new snapshot.
      operationId: cloud_servers_snapshots_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnapshotCreate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSnapshotList'
          description: ""
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotCreateQueued'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/snapshots/{snapshot_name}/:
    delete:
      description: Delete a snapshot.
      operationId: cloud_servers_snapshots_destroy
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: snapshot_name
        required: true
        schema:
          pattern: "^[A-Za-z0-9_.-]{1,63}$"
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotDeleteQueued'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/{id}/snapshots/{snapshot_name}/rollback/:
    post:
      description: Rollback the server to a specific snapshot.
      operationId: cloud_servers_snapshots_rollback_create
      parameters:
      - description: A unique integer value identifying this virtual machine.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: snapshot_name
        required: true
        schema:
          pattern: "^[A-Za-z0-9_.-]{1,63}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Server'
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnapshotRollbackQueued'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/{server_id}/volumes/:
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_servers_volumes_list
      parameters:
      - explode: false
        in: path
        name: server_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Volume'
                type: array
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    post:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_servers_volumes_create
      parameters:
      - explode: false
        in: path
        name: server_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Volume'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/servers/{server_id}/volumes/{volume_id}/:
    delete:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_servers_volumes_destroy
      parameters:
      - explode: false
        in: path
        name: server_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      - explode: false
        in: path
        name: volume_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_servers_volumes_retrieve
      parameters:
      - explode: false
        in: path
        name: server_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      - explode: false
        in: path
        name: volume_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    patch:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_servers_volumes_partial_update
      parameters:
      - explode: false
        in: path
        name: server_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      - explode: false
        in: path
        name: volume_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedVolume'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    put:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: cloud_servers_volumes_update
      parameters:
      - explode: false
        in: path
        name: server_id
        required: true
        schema:
          pattern: "^\\d{1,10}$"
          type: string
        style: simple
      - explode: false
        in: path
        name: volume_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Volume'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/storage-products/:
    get:
      description: List of available storage products
      operationId: cloud_storage_products_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedStorageProductList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/storage-products/{id}/:
    get:
      description: List of available storage products
      operationId: cloud_storage_products_retrieve
      parameters:
      - description: A unique integer value identifying this metered product.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageProduct'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/volumes/:
    get:
      description: Volumes management
      operationId: cloud_volumes_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Volume'
                type: array
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/volumes/{id}/:
    delete:
      description: Volumes management
      operationId: cloud_volumes_destroy
      parameters:
      - description: A unique integer value identifying this storage.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    get:
      description: Volumes management
      operationId: cloud_volumes_retrieve
      parameters:
      - description: A unique integer value identifying this storage.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    patch:
      description: Volumes management
      operationId: cloud_volumes_partial_update
      parameters:
      - description: A unique integer value identifying this storage.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedVolume'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
    put:
      description: Volumes management
      operationId: cloud_volumes_update
      parameters:
      - description: A unique integer value identifying this storage.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Volume'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Volume'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/volumes/{id}/attach/:
    post:
      description: Attach existing volume to a server
      operationId: cloud_volumes_attach_create
      parameters:
      - description: A unique integer value identifying this storage.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachVolume'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachVolume'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/cloud/volumes/{id}/detach/:
    post:
      description: Detach volume from server
      operationId: cloud_volumes_detach_create
      parameters:
      - description: A unique integer value identifying this storage.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Volume'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DetachVolume'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - cloud
  /api/domain/domain/:
    get:
      description: Manage your domains
      operationId: domain_domain_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDomainList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - domain
    post:
      description: Manage your domains
      operationId: domain_domain_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainCreate'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCreate'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - domain
  /api/domain/domain/{domain}/:
    get:
      description: Manage your domains
      operationId: domain_domain_retrieve
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          pattern: "^[^/]+$"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - domain
    patch:
      description: Manage your domains
      operationId: domain_domain_partial_update
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          pattern: "^[^/]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedDomain'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - domain
    put:
      description: Manage your domains
      operationId: domain_domain_update
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          pattern: "^[^/]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Domain'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - domain
  /api/domain/domain/{domain}/renew/:
    post:
      description: Manage your domains
      operationId: domain_domain_renew_create
      parameters:
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          pattern: "^[^/]+$"
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewDomain'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RenewDomain'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - domain
  /api/domain/domain/check-availability/:
    post:
      description: Manage your domains
      operationId: domain_domain_check_availability_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckAvailability'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckAvailability'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - domain
  /api/domain/domain/transfer-ro-domain/:
    post:
      description: Manage your domains
      operationId: domain_domain_transfer_ro_domain_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferRoDomain'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferRoDomain'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - domain
  /api/domain/registrants/:
    get:
      description: Manage your domain registrant views
      operationId: domain_registrants_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedDomainRegistrantList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - domain
    post:
      description: Manage your domain registrant views
      operationId: domain_registrants_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRegistrant'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRegistrant'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - domain
  /api/domain/registrants/{id}/:
    delete:
      description: Manage your domain registrant views
      operationId: domain_registrants_destroy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - domain
    get:
      description: Manage your domain registrant views
      operationId: domain_registrants_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRegistrant'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - domain
    patch:
      description: Manage your domain registrant views
      operationId: domain_registrants_partial_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedDomainRegistrant'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRegistrant'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - domain
    put:
      description: Manage your domain registrant views
      operationId: domain_registrants_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRegistrant'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainRegistrant'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - domain
  /api/domain/tld/:
    get:
      description: Manage your TLDs
      operationId: domain_tld_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTLDList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - domain
  /api/domain/tld/{id}/:
    get:
      description: Manage your TLDs
      operationId: domain_tld_retrieve
      parameters:
      - description: A unique integer value identifying this top level domain.
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TLD'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - domain
  /api/kubernetes/cluster-types/:
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_cluster_types_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedClusterTypeList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
  /api/kubernetes/clusters/:
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_list
      parameters:
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedClusterDetailList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    post:
      description: Create new k8s cluster
      operationId: kubernetes_clusters_create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterAdd'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterAddResponse'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
  /api/kubernetes/clusters/{cluster_id}/httproutes/:
    get:
      description: |-
        ViewSet for managing HTTPRoute resources.

        HTTPRoutes expose HTTP/HTTPS services through the Gateway with optional automatic TLS certificate issuance.
      operationId: kubernetes_clusters_httproutes_retrieve
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    post:
      description: Create new HTTPRoute
      operationId: kubernetes_clusters_httproutes_create
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HTTPRoute'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPRoute'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
  /api/kubernetes/clusters/{cluster_id}/httproutes/{id}/:
    delete:
      description: |-
        ViewSet for managing HTTPRoute resources.

        HTTPRoutes expose HTTP/HTTPS services through the Gateway with optional automatic TLS certificate issuance.
      operationId: kubernetes_clusters_httproutes_destroy
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    get:
      description: |-
        ViewSet for managing HTTPRoute resources.

        HTTPRoutes expose HTTP/HTTPS services through the Gateway with optional automatic TLS certificate issuance.
      operationId: kubernetes_clusters_httproutes_retrieve_2
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    patch:
      description: Partially update HTTPRoute
      operationId: kubernetes_clusters_httproutes_partial_update
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedHTTPRoute'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPRoute'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    put:
      description: Update HTTPRoute
      operationId: kubernetes_clusters_httproutes_update
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HTTPRoute'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPRoute'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
  /api/kubernetes/clusters/{cluster_id}/port-forwards/:
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_port_forwards_retrieve
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    post:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_port_forwards_create
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "201":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
  /api/kubernetes/clusters/{cluster_id}/port-forwards/{id}/:
    delete:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_port_forwards_destroy
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_port_forwards_retrieve_2
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    patch:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_port_forwards_partial_update
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    put:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_port_forwards_update
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
  /api/kubernetes/clusters/{cluster_id}/resource-pools/:
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_resource_pools_list
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResourcePoolList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    post:
      description: Create new resource pool
      operationId: kubernetes_clusters_resource_pools_create
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcePoolAdd'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePoolAddResponse'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
  /api/kubernetes/clusters/{cluster_id}/resource-pools/{id}/:
    delete:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_resource_pools_destroy
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_resource_pools_retrieve
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePool'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    patch:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_resource_pools_partial_update
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedResourcePool'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePool'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    put:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_resource_pools_update
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourcePool'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePool'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
  /api/kubernetes/clusters/{cluster_id}/resource-pools/{pool_id}/nodes/:
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_resource_pools_nodes_list
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - description: A page number within the paginated result set.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: integer
        style: form
      - explode: false
        in: path
        name: pool_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResourcePoolNodeList'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
  /api/kubernetes/clusters/{cluster_id}/resource-pools/{pool_id}/nodes/{id}/:
    delete:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_resource_pools_nodes_destroy
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pool_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_resource_pools_nodes_retrieve
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: pool_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourcePoolNode'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
  /api/kubernetes/clusters/{cluster_id}/tcproutes/:
    get:
      description: |-
        ViewSet for managing TCPRoute resources.

        TCPRoutes expose TCP services through the Gateway on specific external ports.
        Reserved ports (22, 6443, 50000, 50001) cannot be exposed.
      operationId: kubernetes_clusters_tcproutes_retrieve
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    post:
      description: Create new TCPRoute
      operationId: kubernetes_clusters_tcproutes_create
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TCPRoute'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TCPRoute'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
  /api/kubernetes/clusters/{cluster_id}/tcproutes/{id}/:
    delete:
      description: |-
        ViewSet for managing TCPRoute resources.

        TCPRoutes expose TCP services through the Gateway on specific external ports.
        Reserved ports (22, 6443, 50000, 50001) cannot be exposed.
      operationId: kubernetes_clusters_tcproutes_destroy
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    get:
      description: |-
        ViewSet for managing TCPRoute resources.

        TCPRoutes expose TCP services through the Gateway on specific external ports.
        Reserved ports (22, 6443, 50000, 50001) cannot be exposed.
      operationId: kubernetes_clusters_tcproutes_retrieve_2
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    patch:
      description: Partially update TCPRoute
      operationId: kubernetes_clusters_tcproutes_partial_update
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedTCPRoute'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TCPRoute'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    put:
      description: Update TCPRoute
      operationId: kubernetes_clusters_tcproutes_update
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TCPRoute'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TCPRoute'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
  /api/kubernetes/clusters/{cluster_id}/udproutes/:
    get:
      description: |-
        ViewSet for managing UDPRoute resources.

        UDPRoutes expose UDP services through the Gateway on specific external ports.
      operationId: kubernetes_clusters_udproutes_retrieve
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    post:
      description: Create new UDPRoute
      operationId: kubernetes_clusters_udproutes_create
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UDPRoute'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UDPRoute'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
  /api/kubernetes/clusters/{cluster_id}/udproutes/{id}/:
    delete:
      description: |-
        ViewSet for managing UDPRoute resources.

        UDPRoutes expose UDP services through the Gateway on specific external ports.
      operationId: kubernetes_clusters_udproutes_destroy
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    get:
      description: |-
        ViewSet for managing UDPRoute resources.

        UDPRoutes expose UDP services through the Gateway on specific external ports.
      operationId: kubernetes_clusters_udproutes_retrieve_2
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    patch:
      description: Partially update UDPRoute
      operationId: kubernetes_clusters_udproutes_partial_update
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedUDPRoute'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UDPRoute'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    put:
      description: Update UDPRoute
      operationId: kubernetes_clusters_udproutes_update
      parameters:
      - explode: false
        in: path
        name: cluster_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UDPRoute'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UDPRoute'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
  /api/kubernetes/clusters/{id}/:
    delete:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_destroy
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No response body
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    get:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_retrieve
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterDetail'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    patch:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_partial_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchedClusterDetail'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterDetail'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
    put:
      description: Require complete user profile for provisioning (create) API actions.
      operationId: kubernetes_clusters_update
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterDetail'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClusterDetail'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
  /api/kubernetes/clusters/{id}/connect-vm/:
    post:
      description: Connect a cloud VM to the cluster private network.
      operationId: kubernetes_clusters_connect_vm_create
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectVMRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectVMResponse'
          description: ""
      security:
      - cookieAuth: []
      - tokenAuth: []
      tags:
      - kubernetes
[...]
